In [64]:
import numpy as np
import pandas as pd
import re
#import src.funciones as fun

In [34]:
carre = pd.read_csv("../input/thegurus-opendata-carrefour-es-products.csv")
dia = pd.read_csv("../input/thegurus-opendata-dia-es-products.csv")
merca = pd.read_csv("../input/thegurus-opendata-mercadona-es-products.csv")

In [35]:
#meter funcion cuando sepa como
'''carre = "../input/thegurus-opendata-carrefour-es-products.csv"
dia = "../input/thegurus-opendata-carrefour-es-products.csv"
merca = "../input/thegurus-opendata-carrefour-es-products.csv"
carre,merca,dia = fun.import_df(carre, merca, dia)
'''

'carre = "../input/thegurus-opendata-carrefour-es-products.csv"\ndia = "../input/thegurus-opendata-carrefour-es-products.csv"\nmerca = "../input/thegurus-opendata-carrefour-es-products.csv"\ncarre,merca,dia = fun.import_df(carre, merca, dia)\n'

In [36]:
display(carre.head(),dia.head(),merca.head())

,id,category,name,price,reference_price,reference_unit,date
0,1,el_mercado-carniceria-bio_en_carniceria,Picada de vacuno ecológico Carrefour Bio 400 g,3.49,NaN,NaN,2020-07-16 00:00:00
1,2,el_mercado-carniceria-bio_en_carniceria,Hamburguesa de vacuno ecológica sin gluten y s...,1.99,NaN,NaN,2020-07-16 00:00:00
2,3,el_mercado-carniceria-bio_en_carniceria,Carpaccio de vacuno ecológico Carrefour Bio 12...,2.99,NaN,NaN,2020-07-16 00:00:00
3,4,el_mercado-carniceria-bio_en_carniceria,Filete 1ªA de añojo ecológico Carrefour Bio 50...,6.95,NaN,NaN,2020-07-16 00:00:00
4,5,el_mercado-carniceria-bio_en_carniceria,Entrecot de añojo ecológico Carrefour Bio 500 ...,9.45,NaN,NaN,2020-07-16 00:00:00

,id,category,name,price,reference_price,reference_unit,date
0,1,cerdo,Solomillo de cerdo (peso aprox. 600 gr),4.19,6.99,€/Kg.,2020-07-22 12:00:00
1,2,cerdo,Cinta de lomo de cerdo en trozo (peso aprox. 1...,5.51,4.39,€/Kg.,2020-07-22 12:00:00
2,3,cerdo,Panceta de cerdo en filetes bandeja 560 g,3.05,5.45,€/Kg.,2020-07-22 12:00:00
3,4,cerdo,SERRANO fiambre de magro envase 240 gr,1.75,7.29,€/Kg.,2020-07-22 12:00:00
4,5,cerdo,Filete de cinta de lomo de cerdo bandeja 400 gr,2.60,6.50,€/Kg.,2020-07-22 12:00:00

,id,category,name,price,reference_price,reference_unit,date
0,1,fruta,Banana,0.26,1.29,kg,2020-07-21 12:06:00
1,2,fruta,Plátano,0.34,1.99,kg,2020-07-21 12:06:00
2,3,fruta,Plátano macho,0.58,1.95,kg,2020-07-21 12:06:00
3,4,fruta,Uva blanca sin semillas,2.84,3.79,kg,2020-07-21 12:06:00
4,5,fruta,Uva negra sin semillas,2.99,3.99,kg,2020-07-21 12:06:00

In [37]:
carre["supermarket"] = "Carrefour"
merca["supermarket"] = "Mercadona"
dia["supermarket"] = "Dia"
todos = pd.concat([carre,merca,dia])
todos.head()

,id,category,name,price,reference_price,reference_unit,date,supermarket
0,1,el_mercado-carniceria-bio_en_carniceria,Picada de vacuno ecológico Carrefour Bio 400 g,3.49,NaN,NaN,2020-07-16 00:00:00,Carrefour
1,2,el_mercado-carniceria-bio_en_carniceria,Hamburguesa de vacuno ecológica sin gluten y s...,1.99,NaN,NaN,2020-07-16 00:00:00,Carrefour
2,3,el_mercado-carniceria-bio_en_carniceria,Carpaccio de vacuno ecológico Carrefour Bio 12...,2.99,NaN,NaN,2020-07-16 00:00:00,Carrefour
3,4,el_mercado-carniceria-bio_en_carniceria,Filete 1ªA de añojo ecológico Carrefour Bio 50...,6.95,NaN,NaN,2020-07-16 00:00:00,Carrefour
4,5,el_mercado-carniceria-bio_en_carniceria,Entrecot de añojo ecológico Carrefour Bio 500 ...,9.45,NaN,NaN,2020-07-16 00:00:00,Carrefour

In [38]:
null_columns=todos.columns[todos.isnull().any()]
todos[null_columns].isnull().sum().reset_index().sort_values(0,ascending=False)

             index       0
0  reference_price  120897
1   reference_unit  120897

In [42]:
todos.groupby("category").count()

,id,name,price,reference_price,reference_unit,date,supermarket
category,,,,,,,
a_la_taza,178,178,178,178,178,178,178
a_mano,2112,2112,2112,2112,2112,2112,2112
a_mano_y_jabon_comun,782,782,782,782,782,782,782
abrillantador_suelos,176,176,176,176,176,176,176
accesorios,1743,1743,1743,1743,1743,1743,1743
...,...,...,...,...,...,...,...
zanahorias_y_otras_raices,480,480,480,480,480,480,480
zumo,2112,2112,2112,2112,2112,2112,2112
zumo_recien_exprimido,347,347,347,347,347,347,347
zumos_horchatas_y_granizados,260,260,260,260,260,260,260
zumos_y_bebidas,1285,1285,1285,1285,1285,1285,1285

In [ ]:
carre = "../input/thegurus-opendata-carrefour-es-products.csv"
dia = "../input/thegurus-opendata-carrefour-es-products.csv"
merca = "../input/thegurus-opendata-carrefour-es-products.csv"

In [66]:
todos[todos["category"] == "a_la_taza"]

,id,category,name,price,reference_price,reference_unit,date,supermarket
1962,1956,a_la_taza,VALOR chocolate a la taza tableta 300 g,2.49,8.3,€/Kg.,2020-07-22 12:00:00,Dia
1963,1957,a_la_taza,LACASA chocolate a la taza tableta 300 gr,2.40,8.0,€/Kg.,2020-07-22 12:00:00,Dia
7862,7843,a_la_taza,VALOR chocolate a la taza tableta 300 g,2.49,8.3,€/Kg.,2020-07-23 00:00:00,Dia
7863,7844,a_la_taza,LACASA chocolate a la taza tableta 300 gr,2.40,8.0,€/Kg.,2020-07-23 00:00:00,Dia
13875,13854,a_la_taza,VALOR chocolate a la taza tableta 300 g,2.49,8.3,€/Kg.,2020-07-23 12:00:00,Dia
...,...,...,...,...,...,...,...,...
513893,513890,a_la_taza,LACASA chocolate a la taza tableta 300 gr,2.40,8.0,€/Kg.,2020-09-04 00:00:00,Dia
519794,519792,a_la_taza,LACASA chocolate a la taza tableta 300 gr,2.40,8.0,€/Kg.,2020-09-04 12:00:00,Dia
519795,519793,a_la_taza,VALOR chocolate a la taza tableta 300 g,2.49,8.3,€/Kg.,2020-09-04 12:00:00,Dia
525696,525695,a_la_taza,VALOR chocolate a la taza tableta 300 g,2.49,8.3,€/Kg.,2020-09-05 00:00:00,Dia
525697,525696,a_la_taza,LACASA chocolate a la taza tableta 300 gr,2.40,8.0,€/Kg.,2020-09-05 00:00:00,Dia